trigger:
  branches:
    include:
      - main

variables:
  buildConfiguration: 'Release'
  dotnetSdkVersion: '10.0.x'    # 使用 .NET 10 SDK
  imageName: 'webapidemo:$(Build.BuildId)'
  dockerRegistry: ''           # 若需推镜像，请在管道变量中填写 registry（如 myregistry.azurecr.io）
  dockerRegistryServiceConnection: '' # 若推镜像，指定 Azure DevOps 的 service connection 名称

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseDotNet@2
  displayName: 'Install .NET SDK $(dotnetSdkVersion)'
  inputs:
    packageType: 'sdk'
    version: '$(dotnetSdkVersion)'

- script: dotnet restore WebApiDemo/WebApiDemo.csproj
  displayName: 'dotnet restore'

- script: dotnet build WebApiDemo/WebApiDemo.csproj -c $(buildConfiguration) --no-restore
  displayName: 'dotnet build'

- script: |
    dotnet publish WebApiDemo/WebApiDemo.csproj -c $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)/publish --no-restore --no-build
  displayName: 'dotnet publish'

- task: PublishBuildArtifacts@1
  displayName: 'Publish artifact - publish'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/publish'
    ArtifactName: 'drop'
    publishLocation: 'Container'